/** index.html **/
#container {
    max-width: 325px;
}
#viewContainer {
    padding: 5px;
    border: thin solid #e7e7e7;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #f8f8f8;
}

#menuBar {
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 20px;
    border: thin solid #e7e7e7;
    border-radius: 4px 4px 0 0;
}

#menuBar > div > div > a {
    color: grey;
    text-decoration: none;
}

.menu-item {
    background-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    text-align: center;
}

.active {
    border-radius: 20px;
    background-color: #c0c0c0;
}
#brand {
    margin-top: -15px;
    margin-left: 5px;
    margin-right: -5px;
}

#brand > a > img {
    width: 48px;
    height: 48px;
    border-radius: 90px;
}
#github, #github:hover {
    color: grey;
    text-decoration: none;
}

#github > a > i {
    margin-top: -15px;
    margin-right: 5px;
}

#search {
    margin: 10px 5%;
    width: 90%;
    horiz-align: center;
}
#search > input {
    border: thin solid #e7e7e7;
    border-radius: 20px;
}


/** views **/

.streamImg {
    width: 48px;
    height: 48px;
    border-radius: 90px;
}

.streamRow {
    display: block;
    color: grey;
    text-decoration: none;
}

.streamRow:hover {
    color: grey;
    text-decoration: none;
}

.streamText {
    padding-left: 20px;
}

.streamName {
    font-weight: bold;
    color: #005700;
}

.streamStatus {
    margin-top: -12px;
    font-size: 12px;
}

.fa-signal {
    color: green;
}

.fa-exclamation {
    color: red;
}

.stream > label {
    display: block;
}

.streamIcon {
    margin-top: 13px;
}


